#H{
padding:10px;    
background-color:#0000ff ;
color: aliceblue;
border-radius: 10px;
}
#S{
   padding: 10px;
   background-color:#3cb371;
   color: white;
   border-radius: 10px;
}
#C{padding:10px;
    background-color: #ffa500;
    color:black;
    border-radius: 10px;
}
.mint{
    color: #0000ff;
}

.pool{
    color:black;
    font-weight: 100;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}
#nav{
margin-top:50px;
margin-bottom: 10px;
margin-left: 10px;
padding: 5px;
border-radius: 20px;
background-color: red;
}
#nav:hover{
    background-color: green;
    color: white;
cursor: pointer;
}

#EGG{
    background-color: #ee82ee;
}
#HS{
background-color: green;
color: white;
padding: 10px;
border-radius: 10px;

}
#SS{
    background-color: aqua;
    color: black;
    padding: 10px;
    border-radius: 10px;

    
}
#CS{
  background-color:tomato;
   padding: 10px;
   border-radius: 10px;
}
#bl{
    background-color:tomato
}
.same{
    color: antiquewhite;
}
h1{
    text-align: center;
}


#gh:hover{
    color:blue;
    background-color: hotpink;
    cursor: pointer;
}
#gh{
    border:10px solid;
    border-radius: 10px;
    margin-top: 100px;
}
.hp{
padding: 2px;
background-color: black;
margin:1px;
}
#roll{
    background-color: #ff0000
}
#jungle{
    background-color:maroon;
    position: sticky;
    top: 0;
    }
#lol{
    text-align: center;
    }
.lamb{
display: flex;
list-style: none;
border: none;
justify-content: space-around;
border-radius: 7px;
}
.jp{
display: flex;
justify-content: space-between;
list-style: none;
padding: 20px;
border: none;
border-radius: 7px;
}

#H:hover{
    background-color: maroon;
    font-weight:bold;
    cursor: pointer;
}
#C:hover{
background-color:lawngreen;
color: black;
font-weight: bold;
cursor: pointer;
}
#S:hover{
background-color: magenta;
font-weight: bold;
cursor: pointer;
}
#HS:hover{
    background-color: blue;
    font-weight: bold;
    cursor: pointer;
}
.rog{
    font-size:70px;
    margin:1px;
}
#SS:hover{
background-color:purple;
color: #fafafa;
font-weight: bold;
cursor: pointer;

}
#CS:hover{
 background-color:gray;
 color: white;
font-weight: bold;
cursor: pointer;
}
 @media screen and (max-width: 900px){
    .vary{
        display: grid;
        grid-template-columns: repeat 3,1fr;
    }
 }
@media screen and (max-width: 500px){

    .vary{
        display:grid;
        grid-template-columns: repeat 1,1fr;
    }
    .rog{
        font-size:2rem;
    }

}
    


 